<div class="container">
  <div class="scanner-container bg-primary">
    <h4>Barracode scanner</h4>
    <div class="form-group">
      <input class="form-control" id="code" placeholder="please enter product code..">
    </div>

    <div class="buttons">
      <button type="button" class="btn btn-danger" (click)="exit()">Exit</button>
      <button type="button" class="btn btn-success" (click)="search()">Search</button>
    </div>
  </div>

  <div class="screen-container" *ngIf="product$ | async as product; else notfound;">
    <h2>Product found:</h2>

    <app-products-list bgColor="bg-info" [products]="[product]"></app-products-list>

  </div>
  <ng-template #notfound>
    <h1 class="notfound" *ngIf="scnanerOn">Products with given ID not found</h1>
  </ng-template>

  <div class="printer-container" *ngIf="!scnanerOn && scanned_products.length">
    <div class="screen-info bg-info">
      <h2>{{scanned_products.length }} {{scanned_products.length  > 1 ? " products " : " product " }} scanned</h2>
      <h3>total price: {{scanned_products_price}} zł</h3>
    </div>
    <app-products-list bgColor="bg-dark" [products]="scanned_products"></app-products-list>

  </div>

</div>
